// Body
//$body-bg:#f1f1f1;
$body-bg:#dfdfdf;

// Typography
$font-h:"Bitter", serif;
$font-p:"Roboto", sans serif;
$text-color: #636b6f;

// Color
$grey-background:#e9e9e9;
$green: #1bbc9b;
$blue-menu:#2c3b64;
$blue:#465e9e;
$red:#e05b4a;
$fa:#cccccc;
$border:#d9d9d9;
$box-shadow:#8c8c8c;
$light-pink:#f2dee5;

// Images
$big-profile:150px;

// Buttons
$big-btn:60px;
$tiny-btn:40px;