
// Body
$body-bg:#f1f1f1;

// Typography
$font-h:"Bitter", serif;
$font-p:"Slabo 13px", serif;
$text-color: #636b6f;

// Color
$default-background:#ededed;
$green: #9bd449;
$green-darker:#8fc43e;
$blue-menu:#2c3b64;
$blue:#465e9e;
$blue-darker:#384b83;
$glyphicons:#cccccc;
$menu-border:#d9d9d9;