// Body
$body-bg:#f1f1f1;

// Typography
$font-h:"Bitter", serif;
$font-p:"Roboto", sans serif;
$text-color: #636b6f;

// Color
$default-background:#ededed;
$green: #1bbc9b;
$blue-menu:#2c3b64;
$blue:#465e9e;
$red:#e05b4a;
$fa:#cccccc;
$menu-border:#d9d9d9;

// Images
$big-profile:150px;

// Buttons
$big-btn:60px;
$tiny-btn:40px;