
// Fonts
@import url(https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Slabo+13px|Roboto);

// Variables
@import "variables";

// Variables
@import "mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* --------MAIN ELEMENTS-------- */
* {
	/* remove bootstrap radius - remove this maby and reset all finds is better */
	/*border-radius: 0;*/
}

body {
	background:$body-bg;
	font-family:$font-p;
	font-size: 15px;
	color:#2d2d2d;
}

h1, h2, h3, h4, h5, .panel-heading {
	font-family:$font-h;
	letter-spacing: -.1rem;
	font-weight: bold;
    text-transform: uppercase;
    color:$text-color !important;
}

h1 {
	font-size:35px;
}
h2 {
	font-size:19px;
}

b {
	color:$blue;
}

.buff {
	margin-top:50px;
	margin-bottom:50px;
}

.buff-big {
	margin-top:100px;
	margin-bottom:50px;
}

.panel, .custom-panel {
	background:$default-background;
	border-radius: 2px;
	border:1px solid $menu-border;
	position: relative;
}

.custom-panel {
	background-color:darken($body-bg, 5%);
	padding-top:50px;
	padding-bottom:50px;
	border:0;
}

.panel-heading {
	padding-top:30px;
	padding-bottom:30px;
	font-size:30px;
	background:none !important;
}

.panel.arrow {
	margin-top:30px;
}

.panel.arrow:after, .panel.arrow:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.panel.arrow:after {
border-color: rgba(0, 0, 0, 0);
	border-bottom-color: $default-background;
	border-width: 15px;
	margin-left: -15px;
}

.panel.arrow:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: $menu-border;
	border-width: 18px;
	margin-left: -18px;
}

.icon {
	max-width:100%;
	width:350px;
}

/* --------NAV-------- */

.navbar-default {
	background-color:$blue-menu;
	border:0;

	&.navbar {
    	margin-bottom: 0px;
	}
	
	.navbar-nav li a {
		color:white;
		
		&:hover {
			background:$blue;
			color:white;
		}
	}
	
	.navbar-nav > .open > a,
	.navbar-nav > .open > a:hover,
	.navbar-nav > .open > a:focus {
	    background-color: $blue;
		color:white;
	}

	.navbar-brand {
		background:url("/images/logo-white.png");
		background-size:175px 50px;
		height:50px;
		width:175px;
	}
	
	.dropdown-menu {
		background: $default-background;
		border: 2px solid $menu-border;
		padding:15px;
		
		&:after, &:before {
			bottom: 100%;
			right: 10%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after {
			border-color: rgba(0, 0, 0, 0);
			border-bottom-color: $default-background;
			border-width: 5px;
			margin-left: -5px;
		}
		&:before {
			border-color: rgba(236, 237, 237, 0);
			border-bottom-color: #eceded;
			border-width: 8px;
			margin-left: -8px;
		}
	}
}

/* --------BUTTONS-------- */

.btn-primary, .btn {
	border: 0px solid transparent;
	position:relative;
	border-radius:3;
	height:50px;
	padding-right:25px;
	display:inline-block;
	color:white;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
	
	&:hover {
		color:white;
		text-decoration:none;
	}
	
	&.accept {
		background:$green;
		box-shadow: 0px 3px 0px -1px #6c9629;
		
		.glyphicon {
			background:darken($green, 10%);
		}
		&.square-btn .glyphicon {
			background:$green;
		}
		&:hover, &:hover .glyphicon {
			background:darken($green, 10%);
		}
	}

	&.default {
		background:$blue;
		box-shadow: 0px 3px 0px -1px #1c2950;

		.glyphicon  {
			background:darken($blue, 10%);
		}
		&.square-btn .glyphicon {
			background:$blue;
		}
		&:hover, &:hover .glyphicon {
			background-color:darken($blue, 10%) !important;
		}
	}
	
	.glyphicon {
		top:0;
		height: 100%;
		left:0;
		position: absolute;
		width:50px;
		line-height:50px;
	}

	&.big-btn {
		height:$big-btn;
		padding-left:$big-btn+25px;
		line-height:50px;
		font-size:20px;

		.glyphicon {
			width:60px;
			line-height:60px;
		}

		span {
			font-size:18px;
		}
	} 

	&.tiny-btn {
		height:$tiny-btn;
		width:$tiny-btn;
		padding-left:$tiny-btn+25px;

		.glyphicon {
			width:40px;
			line-height:40px;
		}
	} 

	&.square-btn {
		padding:0;

		.glyphicon {
			position: relative;
			top:0;
		}
		&.tiny-btn {
			height:$tiny-btn;
		}
		&.big-btn {
			height:$big-btn;
		}
	} 
}

/* --------FORMS-------- */

.form-control {
	height:40px;
}

.has-feedback-left {
	.glyphicon {
		left:0;
		position: absolute;
		line-height:40px;
	}
	
	input {
		padding-left:30px;
	}
}

form i.glyphicon {
	color:$glyphicons;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 35px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

/* --------IMAGES --------*/

img {
	max-width:100%;
	height:auto;

	&.big-profile {
		border-radius: 50%;
		width: $big-profile;
		height: $big-profile;
	}
}

/* -------- PROFILE --------*/

.profile {

	position: relative;

	.info {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-left:$big-profile +30px;

		span {
			display:block;
		}

		.name {
			font-size:18px;
		}

		.role {
			font-weight:bold;
		}
	}

	.edit {
		position:absolute;
		top:30px;
		right:30px;
	}
}
