
// Fonts
@import url(https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Slabo+13px|Roboto);

// Variables
@import "variables";

// Variables
@import "mixins";

/* --------MAIN ELEMENTS-------- */

body {
	background:$body-bg;
}

b {
	color:$blue;
}

.text-center {
	text-align:center;
}

.big-nbr {
	font-size:120px;
	line-height:150px;
	color:$blue;
	margin:0;
	font-family:$font-h;
}

.buff {
	margin-top:50px;
	margin-bottom:50px;
}

.buff-big {
	margin-top:100px;
	margin-bottom:50px;
}

.container {
	position: relative;
}

.panel, .custom-panel {
	background:$grey-background;
	border-radius: 2px;
	position: relative;
	padding:20px;
}

.custom-panel {
	background-color:lighten($body-bg, 4%);
	padding-top:50px;
	padding-bottom:50px;
	border:0;
}

.panel-heading {
	padding-top:30px;
	padding-bottom:20px;
	font-family: "Roboto", sans-serif;
	font-weight:400;
	letter-spacing:0;
	font-size:30px;
	background:none !important;
	border-bottom:1px solid lightgrey;
}

.header-icon {
	background:url("/images/logo.png");
	background-size:350px;
	background-repeat:no-repeat;
	background-position:center 0;
	font-family: "Bitter", sans-serif;
	font-weight: bold;
	font-size:45px;
	text-transform:uppercase;
	padding-top:120px;
}

/* --------NAV-------- */

.navbar-default, .navbar-team {
	background-color:$blue-menu;
	height:50px;
}

.navbar-brand {
	display:block;
	float:left;
	background:url("/images/logo-white.png");
	background-size:175px 50px;
	height:50px;
	width:175px;

	&:hover {
		opacity: 0.7;
		transition: opacity 0.5s ease;
	}
}

.navbar {
	height:50px;
	float:right;

	a {
		float:right;
		display:block;
		padding: 0 20px 0 20px;
		color:white;
		height:50px;
		line-height:50px;
	}

	a:hover,
	a.active,
	.dropdown:hover .dropdown-toggle {
		transition: background-color 0.5s ease;
		background-color:$blue;
	}

	.fa {
		padding:0 7px 0 7px;
	}
}

.navbar-team {
	background-color:$grey-background;

	.navbar {
		float:left;

		a {
			color:$text-color;
		}
	}
}

.dropdown-menu {
	position:absolute;
	top:50px;
	width:100%;
	display:none;
	background: $grey-background;
	border-bottom: 1px solid $border;
	border-left: 1px solid $border;
	border-right: 1px solid $border;
	box-shadow: 0px 1px 5px 1px rgba(219,219,219,1);
	box-sizing:border-box;
	z-index:1000;
	padding-top:20px;

	a {
		float:none;
		color:$text-color;
	    margin: 0 0 10px 0;
    	padding: 10px 25px 10px 20px;
    	display:block;
    	white-space: nowrap;
    	height:40px;
    	line-height:40px;
    	font-size:16px;

    	&:hover, &:focus {
    		background:darken($grey-background, 5%);
    	}
	}

	.fa {
		padding:0 7px 0 0px;
	}
}

.dropdown {
	position:relative;
	display:inline-block;

	&:hover .dropdown-menu {
	    display: inline-table;
	}
	&:hover .dropdown-toggle {
		color:white;
	}
}


a.burger-menu {

	font-size:25px;
	margin-top:50px;
	display:block;

	.fa {
		top:5px;
	}
}

.sidebar {
	height:100%;
	position:fixed;
	top:0;
	background:$blue-menu;
	width:230px;
	color:white;

	.action {
		width:20px;
		padding:30px 0 30px 5px;
		background:$blue-menu;
		display:inline-block;
		right:-25px;
		top:20%;
		position:absolute;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.activity {
		padding:10px 20px 10px 20px;
		margin:10px 20px 10px 20px;
		font-size:12px;
		background-color:lighten($blue-menu, 5%);

		p {
			padding:0;
			margin:0;
		}
	}

	.activity-action {

	}
	.activity-by {
		display:inline-block;
		width:100%;
		font-size:11px;
		font-style:italic;

		i {
			margin-right:5px;
		}
	}
}

/* --------BUTTONS-------- */

a.btn, button,
.navbar .dropdown-menu a.btn {
	position:relative;
	margin: 0 auto;
    display: inline-block;
	text-align:center;
	height:50px;
	line-height:50px;
	padding-right:25px;
	padding-left:75px;
	padding-top: 0;
	padding-bottom: 0;
	color:white;
	text-transform:uppercase;
    font-size: 16px;
    box-shadow: 0px 2px 0px -1px $box-shadow;
    border:0;


	.fa {
		top:0;
		left:0;
		position: absolute;
		width:50px;
		line-height:50px;
		padding:0px;
	}
	
	&.accept {
		background:$green;
		
		&.square-btn .fa {
			background:$green;
		}
		.fa, &:hover, &:hover > .fa {
			background:darken($green, 10%);
		}
	}

	&.default {
		background:$blue;

		&.square-btn .fa {
			background:$blue;
		}
		.fa, &:hover, &:hover > .fa {
			background:darken($blue, 10%);
		}
	}

	&.warning {
		background:$red;

		&.square-btn .fa {
			background:$red;
		}
		.fa, &:hover, &:hover > .fa {
			background:darken($red, 10%);
		}
	}

	&:hover, &:hover > .fa {
		transition: background-color 0.3s ease;
	}

	&.big-btn {
		height:$big-btn;
		padding-left:$big-btn+25px;
		line-height:$big-btn;
		font-size:20px;

		.fa {
			width:$big-btn;
			line-height:$big-btn;
		}
	} 

	&.tiny-btn {
		height:$tiny-btn;
		padding-left:$tiny-btn+25px;
		line-height:$tiny-btn;

		.fa {
			width:$tiny-btn;
			line-height:$tiny-btn;
		}
	} 

	&.square-btn {
		padding:0;

		.fa {
			position: relative;
		}
	} 

	&.section-btn {
		position:absolute;
		top:30px;
		right:30px;
	}
}
.navbar .dropdown-menu a.btn {
	display:block;
}

/* --------FORMS-------- */

.form-control {
	height:40px;
}

.has-feedback-left {
	.fa {
		left:0;
		position: absolute;
		line-height:40px;
	}
	
	input {
		padding-left:30px;
	}
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 35px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

/* --------IMAGES --------*/

img {
	max-width:100%;
	height:auto;

	&.big-profile {
		border-radius: 50%;
		margin-bottom:20px;
		width: $big-profile;
		height: $big-profile;
	}
}

/* -------- PROFILE --------*/

.profile {

	.info {

		span {
			display:block;
		}

		.name {
			font-size:18px;
		}

		.role {
			font-weight:bold;
		}
	}
}

/* VALIDATION */

.help-block {
	position: relative;
    padding: 20px;
    background: white;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
    background: $light-pink;
}
.help-block:after {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(242, 222, 229, 0);
	border-bottom-color: $light-pink;
	border-width: 10px;
	margin-left: -10px;
}

/* CALENDAR FROM DOWN HERE I NEED TO CLLEEEAAANN*/
.month {
    padding: 10px 25px;
    text-align:center;
    ul {
	    margin: 0;
	    line-height:25px;
	    list-style:none;

	    li {
		    font-size: 20px;
		    text-transform: uppercase;
		    letter-spacing: 3px;
		    margin-bottom:0;
		}
	}
}

.month .prev {
    float: left;
}
.month .next {
    float: right;
}

.weekdays {
    margin: 0;
    padding: 10px 0px 0 0;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;

    li {
    	display: inline-block;
	    width: 13.6%;
	    text-align: center;
    }
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    margin: 0;
    position:relative;

    li {
        list-style-type: none;
	    display: inline-block;
	    width: 13.6%;
	    min-height: 70px;
	    text-align: left;
	    padding: 5px;
	    box-sizing: border-box;
	    margin-bottom: 5px;
	    font-size: 12px;
	    position:relative;

	    .active {
		    padding: 5px;
		    background: $red;
		    color: white !important;
		    border-radius:50%;
		}
	}
	/*remove*/
	.todo-1, .todo-2, .todo-3 {
		width:100%;
		background:hsl(random(256)-1, 60%, 80%);
		height:18px;
		padding-left:10px;
		display:block;
		top:30px;
		position:absolute;

    	.todo-text {
    		z-index: 100;
    		position:absolute;
    		white-space: pre;
    	}
	}
	.todo-2 {
		background:hsl(random(256)-1, 60%, 80%);
		top:55px;
	}
	.todo-3 {
		background:hsl(random(256)-1, 60%, 80%);

	}
}

/* ITEMS */
.form-item {
	border-bottom:2px solid $border;
	padding: 10px;
	overflow:auto;

	.form-name,
	.form-heading {
		display:block;
	}
	.form-date {
	    font-size: 10px;
	    background: darken($grey-background, 7%);
	    border-radius: 50%;
	    padding: 20px 5px;
	    width:30px;
	    float:left;
	    margin-right:10px;
	    position:relative;
	    margin-top:5px;

	    .date-date, .date-month {
    	    display: block;
		    line-height: 3px;
		    font-size: 16px;
		    position: absolute;
		    text-align: center;
		    top: 14px;
		    left: 0;
		    right: 0;
	    }
	    .date-month {
	    	top: 25px;
	    	font-size: 10px;
	    }
	}
	.form-heading {
		font-weight:bold;
		font-size:12px;
	}
	.form-info {
		float:left;
	}
	.form-action {
		float:right;
	}
	.happening {
		line-height:15px;
		width:20px;
		right:0;
		margin-top:-5px;
		margin-left:-5px;
		background:red;
		display:inline-block;
		position:absolute;
		z-index:10;
		font-size:11px;
	}
}